NEXT_PUBLIC_ASSET_BASE_URL=https://storage.googleapis.com/audeobox-cdn/videobox
NEXT_PUBLIC_RENDER_API_BASE=/api/render
NEXT_PUBLIC_FEED_BASE_URL=/audeobox-feeds

VIDEOBOX_BIND_HOST=127.0.0.1
VIDEOBOX_WEB_PORT=3100
VIDEOBOX_RENDER_PORT=3101
